* {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
;   margin:5; 
    padding : 2;
    box-sizing: border-box;
}
.flex-container{
    display: flex;
flex-direction: column;   
 padding: 20px 50px;
    gap:30 px;
     /* min-width: 300px; */
     
    transition: 0.3s;
    max-width: 600px;

}
.flex-item {
background-color: rgb(204, 223, 248);
flex: 1;
gap: 10px;
box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
padding: 10px 10px;


}
.flex-button{
    display: flex;
    justify-content: flex-end;
}

